<script defer src="{{ url_for('static', filename='validation.js') }}"></script>
{% extends "base.html" %}

{% block content %}
    <p id="error-message" style="color:red;">{{ error if error else '' }}</p>

    <form id="login-form" action="{{ url_for('post_login') }}" method="post" novalidate>
        <br>
        <label for="username">Brukernavn</label>
        <input id="username" name="username" value="{{ form.username if form else '' }}">
        <br>
        <label for="password">Passord</label>
        <input id="password" type="password" name="password">
        <br>
        <input type="submit">
    </form>

{% endblock %}