<script defer src="{{ url_for('static', filename='validation.js') }}"></script>
{% extends "base.html" %}

{% block content %}
    <p id="error-message" style="color:red;">{{ error if error else '' }}</p>

    <form id="register-form" action="{{ url_for('post_register') }}" method="post" novalidate>
        <br>
        <label for="username">Brukernavn</label>
        <input id="username" name="username" value="{{ form.username if form else '' }}">
        <br>
        <label for="password">Passord</label>
        <input id="password" type="password" name="password">
        <br>
        <label for="fornavn">Fornavn</label>
        <input id="fornavn" name="fornavn" required>
        <br>
        <label for="etternavn">Etternavn</label>
        <input id="etternavn" name="etternavn" required>
        <br>
        <input type="submit">
    </form>
    {#
        {"username":"brukernavnet",
         "password":"passordet"} -> /register POST (request.form)
    #}

{% endblock %}